
body {
  font-family:Calibri;
  text-align: center;
  background-color: #f3f4f6;
  padding: 50px;
}


.box {
  position: absolute;  
  width: 200px;
  height: 200px;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}


.box-1 {
  background-color: cyan;
  top: 50px;
  left: 50px;
  z-index: 1;
}


.box-2 {
  background-color: #8B8000;
  top: 100px;
  left: 100px;
  z-index: 2;
}

.box-3 {
  background-color: magenta;
  top: 150px;
  left: 150px;
  z-index: 3;
}