
body {
    margin: 0;
    padding: 20px;
    font-family: Calibri;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.product-container {
    display:flex;
    text-align: center;
    justify-center:center;
    align-items:flex-start;
    flex-wrap:wrap;
}


.product-box {
    /*display: block;*/     
    width: 340px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;            
    padding: 15px;  
    text-align: center;        
    /*vertical-align: top;*/
    box-sizing: border-box;
    transition: outline 0.2s ease, outline-offset 0.2s ease;
}

#img01 img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}
#img02 img {
    width: 127px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 10px;
}


.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.product-desc {
    font-size: 14px;
    margin: 8px 0;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 8px 0;
}

.product-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #72bf44;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
}

.product-box a:hover {
    background-color: #0056b3;
}

.product-box:hover {
    outline: 3px solid #c3e1ff;
    outline-offset: 4px;
}
