body{
    font-family:Calibri;
}
.profile-info {
    font-family:Calibri;
    color: #333;
    margin: auto;
    background-color: lightblue;
    text-align: center;
    padding: 30px;
    border-radius: 20%;
    border: 5px solid burlywood;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;

   
}

.profile-photo{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #555;
    margin: auto;
 
}