
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Calibri;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #222;
}


.site-header {
  position: sticky;    
  top: 0;               

  padding: 4px 24px;
  background-color: #d40d0d;   
  color: #ffffff;
  border-bottom: 2px solid #a10909;  
}


.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.main-nav {
    margin-top: -30px;
    margin-bottom: 30px;
  text-align: center;
}


.main-nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 0.95rem;
  text-align: center;
}

.main-nav a:hover {
  text-decoration: underline;
}


.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 96px 24px 40px; 

  background-color: #ffffff;
}

h2 {
  margin-bottom: 22px;
  color: #111827;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}


.site-footer {
  text-align: center;
  padding: 10px 24px;
  background-color: #d40d0d;
  color: #e5e7eb;
  border-top: 2px solid #a10909;
}